/*************GENERAL*************/
* {
	margin: 0;
	padding: 0;
}

p {
	margin: 5px 0 10px 0;
}

body,html {
	font-family: Verdana, Arial, Helvetica;
	font-size: 11px;
	color: #555;
	height: 100%;
}

body {
}

h1,h2,h3,h4,h5,h6 {
	font-weight: normal;
}

h2 {
	font-size: 15px;
}

h3 {
	font-size: 12px;
	font-weight: bold;
	padding-top: 25px;
	padding-bottom: 15px;
}

h4 {
	font-size: 12px;
}

.contentheading,.componentheading {
	font-size: 15px;
	padding-bottom: 20px;
}

.spacer {
	width: 100%;
	height: 30px;
}

a:link,
a:visited,
#main a:link,
#main a:visited {
	color: #948C75;
	text-decoration: none;
}

a:focus,
a:hover,
a:active,
#main a:focus,
#main a:hover,
#main a:active {
	color: #7A6A53;
	text-decoration: none;
}

/*************HEADER*************/
#header {
	width: 100%;
	height: 50px;
	font-size: 11px;
}

#slogan {
	padding: 20px 0 20px 0;
	font-size: 11px;
}

#topmenu {
	float: right;
	padding-right: 10px;
	margin-top: 3px;
}

#topmenu ul.menu li {
	display: inline;
	padding-right: 12px;
}

#topmenu ul.menu li a {
	
}

.noLinkColor {
	color: #ffffff;
}

/*************MAIN***************/
#wrapper {
	width: 1236px;
	margin: 0 auto;
}

#page-body {
	min-height: 100%;
	position: relative;
}

#left-col {
	float: left;
	width: 180px;
	background-color: red;	
}

#right-col {
	float: right;
	width: 1036px;
}

#left {
	width: 200px;
	float: left;
}

#main {
	padding-bottom: 60px; /* since footer has position:absolute, we need to push the footer down here, to avoid overlapping*/
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -142px;
	/* the bottom margin is the negative value of the footer's height */
}

/************BUTTONS*********/
.marginButton {
	margin-left: 3em !important;
}

/************PANEL GRID *********/
.ui-panelgrid tr, .ui-panelgrid td {
	border:0 !important;
}

/****************SPACER**************************/
.verticalSpacingSmall { 
	height: 3.0em;
}