/*************GENERAL*************/
* {
	margin: 0;
	padding: 0;
}

p {
	margin: 5px 0 10px 0;
}

body,html {
	font-family: Verdana, Arial, Helvetica;
	font-size: 11px;
	color: #00467f;
	height: 100%;
}

body {
}

h1,h2,h3,h4,h5,h6 {
	font-weight: normal;
}

h2 {
	font-size: 15px;
}

h3 {
	font-size: 12px;
	font-weight: bold;
	padding-top: 25px;
	padding-bottom: 15px;
}

h4 {
	font-size: 12px;
}

.contentheading,.componentheading {
	font-size: 15px;
	padding-bottom: 20px;
}

.spacer {
	width: 100%;
	height: 30px;
}

.inner {
	padding: 0 35px;
}

a {
	color: #00467f;
	text-decoration: none;
}

#main a,#text a {
	color: #666;
}

/*************HEADER*************/
#header {
	width: 100%;
	height: 50px;
	font-size: 11px;
}

#slogan {
	padding: 20px 0 20px 0;
	font-size: 11px;
}

#topmenu {
	float: right;
	padding-right: 10px;
	margin-top: 3px;
}

#topmenu ul.menu li {
	display: inline;
	padding-right: 12px;
}

#topmenu ul.menu li a {
	
}

.noLinkColor {
	color: #ffffff;
}

/*************MAIN***************/
#wrapper {
	width: 980px;
	margin: 0 auto;
	border-top: 8px solid #00457d;
}

#page-body {
	min-height: 100%;
	position: relative;
}

#center a:hover {
	text-decoration: underline;
}

#left {
	width: 200px;
	float: left;
}

#main {
	padding-bottom: 60px; /* since footer has position:absolute, we need to push the footer down here, to avoid overlapping*/
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -142px;
	/* the bottom margin is the negative value of the footer's height */
}

#center {
	padding-left: 15px;
	/*float: left;*/
}
